.DS_Store
.env
.flaskenv
*.pyc
*.pyo
venv/
venv*
dist/
build/
*.egg
*.egg-info/
*.egg-info
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

node_modules

*.lock
*.sqlite3
dependencies
uploaded-resources
env.yml
/env.yml
*.log
*.cache