{% extends "layout/admin-layout.html" %}

{% block title %}Create Member{% endblock %}

{% block content %}
    <div class="col-lg-10 mt-3">
        <div class="card br-card rounded-0 card-t-head mb-3">
            <div class="bg-holder d-none d-lg-block bg-left"></div>
            <div class="card-body">
                <div class="d-md-flex justify-content-between d-sm-block align-items-center">
                    <div class="mb-0 heading-text">Create</div>
                </div>
            </div>
        </div>

        <div class="card br-card rounded-0">
            <div class="card-body">

                <form class="needs-validation" novalidate>
                    <div class="row">
                        {% form_input field=form.firstname, wrapper="mb-3 col-md-6" %}
                        {% form_input field=form.lastname, wrapper="mb-3 col-md-6" %}
                        {% form_input field=form.bio, wrapper="mb-3 col-md-6" %}
                        {% form_input field=form.sex, wrapper="mb-3 col-md-6" %}
                        {% form_input field=form.hasLaptop, wrapper="col-md-12" %}
                        <div class="col-12">
                            <div class="float-end">
                                <button type="submit" class="btn btn-primary">Create</button>
                                <a href="#" class="btn btn-danger ms-2">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}