{% extends "layout/admin-layout.html" %}

{% block title %}Member Details{% endblock %}

{% block content %}
    <div class="col-lg-10 mt-3">
        <div class="card br-card rounded-0 card-t-head mb-3">
            <div class="bg-holder d-none d-lg-block bg-left"></div>
            <div class="card-body">
                <div class="d-md-flex justify-content-between d-sm-block align-items-center">
                    <div class="mb-0 heading-text">Details</div>
                </div>
            </div>
        </div>
        <div class="card br-card rounded-0">
            <div class="card-body">
                <div class="row form-details g-2">

                    {% form_view field=form.firstname, wrapper="col-md-6" %}
                    {% form_view field=form.lastname, wrapper="col-md-6" %}
                    {% form_view field=form.age, wrapper="col-md-6" %}
                    {% form_view field=form.dob, wrapper="col-md-6" %}
                    {% form_view field=form.income, wrapper="col-md-6" %}
                    {% form_view field=form.sex, wrapper="col-md-6" %}
                    {% form_view field=form.selectedCourse, wrapper="col-md-6" %}
                    {% form_view field=form.technology, wrapper="col-md-6" %}
                    {% form_view field=form.hasLaptop, wrapper="col-md-6" %}
                    {% form_view field=form.hasPenDrive, wrapper="col-md-6" %}
                    {% form_view field=form.hasSmartPhone, wrapper="col-md-6" %}
                    {% form_view field=form.hasPowerBank, wrapper="col-md-6" %}
                    {% form_view field=form.bio, wrapper="col-md-6" %}
                    {% form_view field=form.email, wrapper="col-md-6" %}

                    <div class="col-12 mt-3">
                        <span class="float-end">
                            <a href="{{ url_for("form_controller.update", id=data.id) }}" type="submit" class="btn btn-primary">Edit</a>
                            <a href="{{ url_for("form_controller.list") }}" class="btn btn-danger ms-2">Cancel</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}