{% extends "layout/admin-layout.html" %}

{% set name = "Members" %}
{% block title %}{{- name }}{% endblock %}

{% block content %}
    <div class="col-lg-10 mt-3">


        {% with name=name, total=table.total, create=url_for("form_controller.create"), reload=url_for("form_controller.list") %}
            {% include("snippet/table-top-action.html") %}
        {% endwith %}

        <div class="card br-card rounded-0">
            <div class="card-body">
                <div class="table-responsive-sm ">
                    <table class="table table-bordered">
                        <thead class="table-secondary">
                            <tr>
                                {% sortable_header name="firstname" %}
                                {% sortable_header name="lastname" %}
                                {% sortable_header name="email" %}
                                {% sortable_header name="age" %}
                                {% sortable_header name="sex" %}
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in table.items %}
                                <tr>
                                    <td>{{ row.firstname|default("", True) }}</td>
                                    <td>{{ row.lastname|default("", True) }}</td>
                                    <td>{{ row.email|default("", True) }}</td>
                                    <td>{{ row.age|default("", True) }}</td>
                                    <td>{{ row.sex|default("", True) }}</td>
                                    {% with edit=url_for("form_controller.update", id=row.id), delete=url_for("form_controller.delete", id=row.id), details=url_for("form_controller.details", id=row.id) %}
                                        {% include("snippet/table-row-action.html") %}
                                    {% endwith %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% pagination current_page=table.page, total_page=table.pages %}
            </div>
        </div>
    </div>

{% endblock %}